<!-- if you need user information, just put them into the $_SESSION variable and output them here -->
<!DOCTYPE html>
<html lang="pt-br">

<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Disk Libras - a comunicação da inclusão</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">


	<!-- use http://una.im/CSSgram/ for filters -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/una/CSSgram/master/source/css/cssgram.css">
	<!-- app styles -->
	<link rel="stylesheet" href="./assets/css/styles.css">
	<!-- /global stylesheets -->


	<!-- /core JS files -->
</head>



<body>
	<div class="navbar navbar-inverse bg-orange">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html">
				<img src="assets/images/logo_light.png"></a>
			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>


		<div class="navbar-collapse collapse" id="navbar-mobile">

			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="assets/images/placeholder.jpg" alt="">
						<span>Mario dos Santos</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-plus"></i> Meus Dados</a></li>

						<li class="divider"></li>
						<li><a href="index.php?logout"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
				<p class="navbar-text"><span class="label bg-success-400">Online</span></p>
				<p class="navbar-text"><span class="label bg-danger-400">Atendente</span></p>
			</ul>
		</div>
	</div>

	<!-- /main navbar -->

	<!-- Second navbar -->
	<div class="navbar navbar-default" id="navbar-second">
		<ul class="nav navbar-nav no-border visible-xs-block">
			<li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
		</ul>

		<div class="navbar-collapse collapse" id="navbar-second-toggle">
			<ul class="nav navbar-nav">
				<li><a href="index.html"><i class="icon-display4 position-left"></i> Dashboard</a></li>

				<li class="dropdown mega-menu mega-menu-wide">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-puzzle4 position-left"></i> Administração <span class="caret"></span></a>

					<div class="dropdown-menu dropdown-content">
						<div class="dropdown-content-body">
							<div class="row">
								<div class="col-md-3">
									<span class="menu-heading underlined">Gerenciamento de Usuários</span>
									<ul class="menu-list">
										<li>
											<a href="CreateUsuario.html"><i class="icon-user-plus"></i> Criar Usuário</a>
										</li>
										<li>
											<a href="#"><i class="icon-users4"></i> Listar Usuários</a>
										</li>
										<li>
											<a href="#"><i class="icon-user-tie"></i> Criar Atendentes</a>
										</li>
										<li>
											<a href="#"><i class="icon-users4"></i> Listar Atendentes</a>
										</li>
									</ul>
								</div>
								<div class="col-md-3">
									<span class="menu-heading underlined">Relátorios</span>
									<ul class="menu-list">
										<li>
											<a href="#"><i class="icon-phone-wave"></i> Chamadas</a>

										</li>
										<li>
											<a href="#"><i class="icon-pie-chart4"></i> Faturamento</a>

										</li>
										<li>
											<a href="#"><i class="icon-meter-fast"></i> Indicadores Perfomance</a>

										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">
						<i class="icon-history position-left"></i> Versão
						<span class="label label-inline position-right bg-success-400">1.3</span>
					</a>
				</li>

			</ul>
		</div>
	</div>
	<!--
	<div class="row" style="margin-top:30px">
	<div class="col-md-12">
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Panel title</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Panel title</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
					<div class="panel-footer">Panel footer</div>
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</div>
</div>
-->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<!--div class="content-wrapper"-->
			<div class="wrapper j-wrapper">

				<main class="app" id="app">
					<div class="page">

						<form class="join j-join">
							<div class="join__body">
								<div class="join__row" style="visibility:hidden">
									<input type="text" class="join__input" id="usertype" name="username" value="Atendente">
								</div>

								<div class="join__row" style="visibility:hidden">
									<input type="text" class="join__input" name="room" value="testroom">
								</div>

								<div class="join__row">
									<button type="submit" class="join__btn">Entrar</button>
								</div>
							</div>
						</form>
						<div class="dashboard j-dashboard">
						</div>
					</div>
				</main>

				<!-- SOUNDS -->
				<audio id="callingSignal" loop preload="auto">
					<source src="./assets/audio/calling.ogg"></source>
					<source src="./assets/audio/calling.mp3"></source>
				</audio>

				<audio id="ringtoneSignal" loop preload="auto">
					<source src="./assets/audio/ringtone.ogg"></source>
					<source src="./assets/audio/ringtone.mp3"></source>
				</audio>

				<audio id="endCallSignal" preload="auto">
					<source src="./assets/audio/end_of_call.ogg"></source>
					<source src="./assets/audio/end_of_call.mp3"></source>
				</audio>
			</div>
			<!-- MODALS -->
			<div class="modal fade" id="connect_err" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

							<h4>Connect to chat is failed</h4>
						</div>

						<div class="modal-body">
							<p class="text-danger">
								Something wrong with connect to chat. Check internet connection or user info and trying again.
							</p>
						</div>
						<p></p>
					</div>
				</div>
			</div>

			<div class="modal fade" id="already_auth" tabindex="-1">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Warning</h4>
						</div>

						<div class="modal-body">
							<p class="text-danger">User has already authorized.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="error_no_calles" tabindex="-1">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Error</h4>
						</div>

						<div class="modal-body">
							<p class="text-danger">Please choose users to call</p>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="income_call" tabindex="-1" data-backdrop="static" data-keyboard="false">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<h4>Call from <strong class="j-ic_initiator"></strong></h4>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default j-decline">Recusar</button>
							<button type="button" class="btn btn-primary j-accept">Aceitar</button>
						</div>
					</div>
				</div>
			</div>

			<!-- TEMPLATES -->
			<!-- stateBoard -->
			<script type="text/template" id="tpl_default">

			</script>

			<script type="text/template" id="tpl_during_call">

			</script>

			<script type="text/template" id="tpl_device_not_found">
				Error: devices (camera or microphone) are not found.
				<span class="qb-text">Login in <b>as <%=name%></b></span>
				<button class='fw-link j-logout'>Logout</button>
			</script>

			<script type="text/template" id="tpl_call_status">
				<% if(typeof(users.accepted) !== 'undefined') { %>
					<%  _.each(users.accepted, function(el, i, list) { %>
						<% if(list.length === 1){ %>
							<b><%= el.full_name %></b> has accepted the call.
							<% } else { %>
								<% if( (i+1) === list.length) { %>
									<b><%= el.full_name %></b> have accepted the call.
									<% } else { %>
										<b><%= el.full_name %></b>,
										<% } %>
											<% } %>
												<% }); %>
													<% } %>

														<% if(typeof(users.rejected) !== 'undefined') { %>
															<%  _.each(users.rejected, function(el, i, list) { %>
																<% if(list.length === 1){ %>
																	<b><%= el.full_name %></b> has rejecterd the call.
																	<% } else { %>
																		<% if( (i+1) === list.length) { %>
																			<b><%= el.full_name %></b> have rejecterd the call.
																			<% } else { %>
																				<b><%= el.full_name %></b>,
																				<% } %>
																					<% } %>
																						<% }); %>
																							<% } %>
			</script>

			<script type="text/template" id="tpl_call_stop">
				Call is stopped.&emsp; Login&nbsp;in&nbsp;as&nbsp;
				<%=name%>
					<button class='fw-link j-logout'>Logout</button>
			</script>

			<script type="text/template" id="p2p_call_stop">
				<b><%=name%> has <%=reason%>.</b> Call is stopped.&emsp; Login&nbsp;in&nbsp;as&nbsp;
				<%=currentName%>
					<button class='fw-link j-logout'>Logout</button>
			</script>

			<script type="text/template" id="dashboard_tpl">

				<!--<label class="switch">
            <input class="ocupado" type="checkbox">
            <div class="slider round"></div>
        </label>-->

				<div class="state_board j-state_board">

				</div>
				<div class="dashboard__inner inner">
					<div class="users j-users_wrap"></div>

					<div class="board clearfix j-board"></div>
				</div>
			</script>

			<script type="text/template" id="frames_tpl">
				<div class="frames">
					<div class="frames__main">
						<div class="frames__main_timer invisible" id="timer">
						</div>

						<div class="qb-video">
							<video id="main_video" class="frames__main_v qb-video_source"></video>
						</div>
					</div>

					<div class="frames__callees j-callees"></div>
				</div>

				<div class="caller">
					<div class="caller__ctrl">
						<button class="caller__ctrl_btn j-actions"></button>
					</div>

					<h4 class="caller__name">
                <!--<b>You</b>-->
                <span class="j-caller_name"><%= nameUser %></span>
            </h4>

					<div class="caller__frames">
						<div class="qb-video">
							<video id="localVideo" class="qb-video_source"></video>
						</div>

						<div class="caller__frames_acts">
							<button class="caller__frames_acts_btn j-caller__ctrl" data-target="video">
								<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g transform="translate(-290.000000, -80.000000)">
											<g transform="translate(288.000000, 78.000000)">
												<path d="M0 0L24 0 24 24 0 24 0 0Z" />
												<path class="svg_icon" d="M21 6.5L17 10.5 17 7C17 6.45 16.55 6 16 6L9.82 6 21 17.18 21 6.5 21 6.5ZM3.27 2L2 3.27 4.73 6 4 6C3.45 6 3 6.45 3 7L3 17C3 17.55 3.45 18 4 18L16 18C16.21 18 16.39 17.92 16.54 17.82L19.73 21 21 19.73 3.27 2 3.27 2Z" />
											</g>
										</g>
									</g>
								</svg>
							</button>

							<button class="caller__frames_acts_btn j-caller__ctrl" data-target="audio">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" version="1.1">
									<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g transform="translate(-347.000000, -80.000000)">
											<g transform="translate(344.000000, 78.000000)">
												<path d="M0 0L24 0 24 24 0 24 0 0Z" />
												<path class="svg_icon" d="M19 11L17.3 11C17.3 11.74 17.14 12.43 16.87 13.05L18.1 14.28C18.66 13.3 19 12.19 19 11L19 11ZM14.98 11.17C14.98 11.11 15 11.06 15 11L15 5C15 3.34 13.66 2 12 2 10.34 2 9 3.34 9 5L9 5.18 14.98 11.17 14.98 11.17ZM4.27 3L3 4.27 9.01 10.28 9.01 11C9.01 12.66 10.34 14 12 14 12.22 14 12.44 13.97 12.65 13.92L14.31 15.58C13.6 15.91 12.81 16.1 12 16.1 9.24 16.1 6.7 14 6.7 11L5 11C5 14.41 7.72 17.23 11 17.72L11 21 13 21 13 17.72C13.91 17.59 14.77 17.27 15.54 16.82L19.73 21 21 19.73 4.27 3 4.27 3Z" />
											</g>
										</g>
									</g>
								</svg>
							</button>

							<button class="caller__frames_acts_btn_record j-record" alt="record video">
							</button>
						</div>

						<!--<div class="caller__frames_fl">
                    <select class="qb-select j-filter">
                        <option value="no">No Filter</option>
                        <option value="_1977">1977</option>
                        <option value="inkwell">inkwell</option>
                        <option value="moon">moon</option>
                        <option value="nashville">nashville</option>
                        <option value="slumber">slumber</option>
                        <option value="toaster">toaster</option>
                        <option value="walden">walden</option>
                    </select>
                </div>-->

						<div class="caller__frames_source">
							<select class="qb-select j-source invisible">
							</select>
						</div>
					</div>
				</div>
			</script>

			<!--<script type="text/template" id="users_tpl">
        <div class="users__title" title="Choose a user to call">
            Choose a user to call
            <button class="users__refresh j-users__refresh" title="click to refresh">
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Main" transform="translate(-435.000000, -178.000000)">
                            <g id="ic_refresh" transform="translate(431.000000, 174.000000)">
                                <g id="Icon-24px" sketch:type="MSShapeGroup">
                                    <path d="M0,0 L24,0 L24,24 L0,24 L0,0 Z" id="Shape"></path>
                                    <path d="M17.65,6.35 C16.2,4.9 14.21,4 12,4 C7.58,4 4.01,7.58 4.01,12 C4.01,16.42 7.58,20 12,20 C15.73,20 18.84,17.45 19.73,14 L17.65,14 C16.83,16.33 14.61,18 12,18 C8.69,18 6,15.31 6,12 C6,8.69 8.69,6 12,6 C13.66,6 15.14,6.69 16.22,7.78 L13,11 L20,11 L20,4 L17.65,6.35 L17.65,6.35 Z" id="Shape" fill="#808080"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </button>
        </div>

        <div class="users__list j-users">
        </div>
    </script>-->

			<script type="text/template" id="user_tpl">
				<div class="users__item">
					<button class="users__user j-user" data-id="<%= id %>" data-login="<%= login %>" data-name="<%= full_name %>">
						<i class="user__icon"></i>
						<span class="user__name"><%= full_name %></span>
						<i class="users__btn_remove j-user-remove"></i>
					</button>
				</div>
			</script>

			<script type="text/template" id="callee_video">
				<div class="frames_callee callees__callee j-callee">
					<div class="frames_callee__inner">
						<!--<p class="frames_callee__status j-callee_status_<%=userID%>">
                    <%=state%>
                </p>-->

						<div class="qb-video invisible">
							<video class="j-callees__callee__video qb-video_source" id="remote_video_<%=userID%>" data-user="<%=userID%>">
							</video>
						</div>
					</div>

					<!--<p class="frames_callee__name"><%=name%></p>-->
				</div>
			</script>

			<!-- SCRIPT -->

			<!-- dependencies -->

			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/quickblox/2.4.0/quickblox.min.js"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

			<!-- Check our qbMediaRecorder https://github.com/QuickBlox/javascript-media-recorder -->
			<script src="https://unpkg.com/media-recorder-js@0.1.0/mediaRecorder.js"></script>

			<!-- QB -->

			<!-- app -->
			<script src="./assets/js/config.js"></script>
			<script src="./assets/js/helpers.js"></script>
			<script src="./assets/js/stateBoard.js"></script>
			<script src="./assets/js/app.js"></script>

			<!-- hack for github Pages -->
			<script>
				var host = "quickblox.github.io";
				if ((host == window.location.host) && (window.location.protocol != "https:"))
					window.location.protocol = "https";

			</script>

		</div>
	</div>
</body>

</html>
<!--20170323000564-->
<!-- acwclqt4 -->
